h1 {
    text-align: center;
    top: auto;
    font-size: 95px;
    color:rgb(255, 255, 255);
}

BODY {
    background: url('tausta.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.esittely {
    text-align: center;
    top: auto;
    font-size: 45px;
    color:rgb(255, 255, 255);
}

.kuva1 {
   
    max-width: 49%;
    max-height: 100vh;
    margin: auto;
    padding: 5px;
    position:left;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.kuva2 {
    max-width: 49%;
    max-height: 100vh;
    margin:auto;
    padding: 5px;
    position:right;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
}

p {
    
    top: auto;
    font-size: 35px;
    color:rgb(255, 255, 255);
}




a {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10%;
    

}
